footer {
    text-align: right;
    background-color: $color1;
    margin-right: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid $color3;
    @media (max-width: 480px) {
        text-align: center;
        margin: 0 auto;
    }
}




