header {
    height: 100vh;
    padding-top: 20rem;
    width: 100%;
    border: 5px solid $color3;
    background-color: $color1;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 0 1.8rem;
        a {
            font-family: $scriptFont;
            // text-transform: uppercase;
            color: $color3;
            &:hover {
                color: $color4;
            }
        }
        p {
            text-align: center;
        }
    }
}




@media (max-width: 682px) {
    header {
        padding-top: 10rem;
    }
}