header {
    height: 100vh;
    padding-top: 20rem;
    width: 100%;
    background-color: $color1;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 0 1.8rem;
        a {
            font-family: $scriptFont;
            // text-transform: uppercase;
            color: $color3;
            &:hover {
                color: $color4;
            }
        }
        p {
            text-align: center;
        }
        .header-fa {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: space-between;
            i {
                width: 50%;
            }
        }

    }
}




@media (max-width: 682px) {
    header {
        padding-top: 10rem;
    }
}