.hidden {
        display: none;
    }

.next-container input, .questions-submit input {
    background-color: $color1;
    padding: 1rem 2.5rem;
    border-radius: 12px;
    &:active, &:hover, &:focus {
        border: $color3 solid 2px;
    }
}

.questions-theme, .questions-tone, .questions-length {
    height: 100vh;
    border: 5px solid $color3;
}



form {
    width: 100%;
    height: 100%;
    background-color: $color4;
    h2 {
        text-transform: uppercase;
        text-align: center;
    }
}

.theme-container input[type="radio"] {
    display: none;
}

.questions-theme, .questions-tone {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.questions-theme {
    flex-direction: row;
}

.questions-tone {
    flex-direction: row-reverse;
}

.theme-title, .theme-question-container, .tone-questions-container  {
    min-height: 50rem;
    display: inline;
}

.theme-question-container, .tone-questions-container {
    padding-left: 8em;
    width: 50%;
}

.theme-title, .tone-title {
    background-color: $color1;
    width: 50%;
}

.theme-container{
    padding: 1rem;
}


.theme-container label {
    position: relative;
}

.theme-container span.radio::before, .theme-container span.radio::after {
    content:'';
    position: absolute;
    top: 5;
    bottom: 5;
    margin: 0;
}

.theme-container span.radio:hover {
    cursor: pointer;
}

.theme-container span.radio::before {
    left: -52px;
    width: 45px;
    height: 25px;
    background-color: $color5;
    border-radius: 50px;
    border: 1px solid $color2;
}

.theme-container span.radio::after {
    left: -49px;
    width: 17px;
    height: 17px;
    border-radius: 10px;
    background-color: $color4;
    transition: left .25s, background-color.25s;
}

input[type="radio"]:checked + label span.radio::after {
    left: -27px;
    background-color: $color3;  
}

//Styling specific to the second question:




//Styling for the last question regarding length:

.questions-length {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.length-questions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 700px;
    padding: 20px;
}

.length-container {
    display: inline-block;
    label {
        background-color: $color1;
        padding: 1rem 2.5rem;
        border-radius: 12px;
        &:active, &:hover, &:focus {
            border: $color3 solid 2px;
        }
    }
}


.length-container input[type="radio"] {
    opacity: 0;
}

.length-container input[type="radio"]:checked + label {
    border: 2px solid $color3;
}

