.hidden { 
    display: none;
}

.hide-form {
    display: none;
}

.questions-theme, .questions-tone, .questions-length {
    height: 100vh;
}



form {
    width: 100%;
    height: 100%;
    background-color: $color4;
    h2 {
        text-transform: uppercase;
        text-align: center;
    }
}

.theme-container input[type="radio"], .tone-container input[type="radio"], .length-container input[type="radio"] {
    display: none;
}
.theme-container{
    padding: 1rem;
    max-width: calc(100% - 4em);
    margin-left: 2rem;
    margin-right: 2rem;
    display: block;
}

.questions-tone {
    background-color: $color1;
}


//Styling for the last question regarding length:

.questions-length, .questions-tone, .questions-theme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}
.length-question-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4rem 2rem 3rem 2rem;
    max-width: 700px;
    padding: 20px;
}

.theme-question-container, .tone-question-container {
    margin-top: 4rem;
}

.length-container, .theme-container, .tone-container {
    label {
        background-color: $color1;
        padding: 1rem 2.5rem;
        border-radius: 12px;
        cursor: pointer;
        overflow-wrap: break-word;
        display: block;
        line-height: 2;
        &:active, &:hover, &:focus {
            border: $color5 solid 2px;
            background-color: $color5;
            color: $color1;
        }
    }
}

.tone-container label {
    background-color: $color4;
    color: $color1;
}

input.next-three{
    font-size: 3rem;
    cursor: pointer;
    padding: 1rem 5rem;
    font-family: $scriptFont;
    color: $color3;
    background-color: $color4;
    border: none;
    &:hover, &:focus {
        color: $color1;
    }
}

.tone-container label {
    margin: 2rem 0;
}
.length-container label {
    margin: 0 2rem;
}


.theme-container input[type="radio"]:checked + label, .tone-container input[type="radio"]:checked + label , .length-container input[type="radio"]:checked + label  {
    border: 2px solid $color3;
    background-color: $color3;
    color: $color1;
}




/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 682px) {

    .questions-theme, .questions-tone, .questions-length {
        height: 100%;
        border: none;
    }
    .questions-theme, .questions-tone, .length-question-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
    margin: 0 auto;
    }

    .theme-right, .tone-left, .theme-title, .tone-title {
    width: 100%;
    background-color: $color4;
    }

    .theme-right, .tone-left {
    align-items: center;
    justify-content: center;
    align-content: center;
    }

    .length-container, .theme-container, .tone-container {
    label {
        text-align: center;
        padding: 2rem 2.5rem;
        }
    }
    .next-container a {
        display: none;
    }

    .length-container{
        padding: 1rem;
        max-width: calc(100% - 4em);
        margin-left: 2rem;
        margin-right: 2rem;
        display: block;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
}

@media (max-width: 320px) {
    .length-container{
        max-width: calc(100% - 4em);
        margin: 0;
        display: block;
    }
    .length-question-container {
        margin: 0;
    }
}