.results {
    height: 100%;
    text-align: center;
}

.box-img {
    height: 100%;
    display: block;
    img {
        max-width: 460px;
        min-height: 460px;
        width: calc(100% - 2rem);
        height: 100%;
        padding: 0;
        margin: 1rem;
        border-radius: 12px;
        border: 5px solid $color4;
    }
}

input.next-four{
    font-size: 3rem;
    cursor: pointer;
    padding: 1rem 5rem;
    font-family: $scriptFont;
    color: $color3;
    background-color: $color1;
    border: none;
    &:hover, &:focus {
        color: $color4;
    }
}

.share a:hover {
    color: $color4;
}






/* Landscape phones and down */
@media (max-width: 480px) {
    .box-img img {
        img {
        max-width: 400px;
        min-height: 400px;
        }
    }
}

@media (max-width: 401px) {
    .box-img img {
        img {
        max-width: 320px;
        min-height: 320px;
        }
    }
}