/*
FONTS:
    font-family: 'Homemade Apple', cursive;
    font-family: 'Open Sans Condensed', sans-serif;
*/

h1 {
    font-family: $mainHeaderFont;
    font-size: 6rem; /*makes font 60px*/
    color: $color5;
}

h3 {
    letter-spacing: .3rem;
}