/*
FONTS:
    font-family: 'Homemade Apple', cursive;
    font-family: 'Open Sans Condensed', sans-serif;
*/

html {
    font-size: 62.5%
}

body {
    font-size: 1.6rem;
    font-family: $baseFont;
    color: $color3;
}

h1 {
    font-family: $headerFont;
    font-size: calc(4rem + (60 - 4) * ((100vw - 30rem) / (1080 - 300)));
    color: $color5;
    display: block;
    text-align: center;
    text-transform: uppercase;
    line-height: 10.5rem;
    margin-bottom: 2rem;
    margin-top: 0;
}


h2, h3, h4, h5 {
    letter-spacing: .3rem;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: $headerFont;
    font-size: calc(5rem + (26 - 5) * ((100vw - 30rem) / (1080 - 300)));
    color: $color5;
}
h4 {
    font-size: calc(1.8rem + (2.5 - 1.8) * ((100vw - 30rem) / (1080 - 300)));
    font-size: 2.5rem;
    font-family: $scriptFont;

}
h5 {
    text-transform: uppercase;
}

p {
    font-size: calc(1.8rem + (2 - 1.8) * ((100vw - 30rem) / (1080 - 300)));
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    color: $color3;
}

a {
    font-size: 3rem;
    cursor: pointer;
    padding: 1rem 5rem;
    font-family: $scriptFont;
    color: $color3;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    &:hover, &:focus {
        color: $color1;
    }
}

.fa-heart, .fa-lightbulb {
    color: $color5;
    display: inline-block;
}

header {
    .fa-arrow-circle-down {
        color: $color5;
        &hover {
            color: $color3;
        }
    }
}
.fa-arrow-circle-down {
    color: $color3;
    &hover {
        color: $color1;
    }
}

.theme-title h2 {
    padding: 0;
}

.length-title h2 {
    margin: 0;
    padding: 0;
    color: $color1;
    border-bottom: 5px solid $color1;
    line-height: 10rem;
}
.results {
    h2 {
        text-align: center;
        font-family: $scriptFont;
        font-size: 4rem;
        color: $color3;
        letter-spacing: 0;
        margin-top: 17rem;
    }
}



/* Landscape phone to portrait tablet */
@media (max-width: 682px) {
    .theme-title, .tone-title {
        padding-top: 4rem;
        h2 {
            text-align: center;
            font-family: $headerFont;
            font-size: 4rem;
            color: $color1;
            letter-spacing: 0;
            text-transform: uppercase;
        }
    }
}

@media (max-width: 507px) {
    h1 {
        line-height: 6.5rem;
    }
}