/*FONTS*/

$mainHeaderFont: 'Homemade Apple', cursive;
$baseFont: 'Open Sans Condensed', sans-serif;

/*COLORS*/
$primaryPink: #FC0281;


$color1: rgba(255, 255, 255, 1);
$color2: rgba(45, 45, 42, 1);
$color3: rgba(76, 76, 71, 1);
$color4: rgba(255, 113, 91, 1);
$color5: rgba(241, 48, 48, 1);
