article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*FONTS*/
/*COLORS*/
/*
FONTS:
    font-family: 'Homemade Apple', cursive;
    font-family: 'Open Sans Condensed', sans-serif;
*/
h1 {
  font-family: "Homemade Apple", cursive;
  font-size: 5rem;
  /*makes font 60px*/
  color: #4c4c47; }

h2, h3, h4, h5 {
  letter-spacing: .3rem; }

h2 {
  font-family: "Rammetto One", cursive;
  font-size: 5rem;
  color: #ff715b; }

h4 {
  font-size: 3rem;
  font-family: "Homemade Apple", cursive; }

h5 {
  text-transform: uppercase; }

.results h2 {
  text-align: center;
  font-family: "Homemade Apple", cursive;
  font-size: 4rem;
  color: #4c4c47;
  letter-spacing: 0; }

header {
  height: 100vh;
  width: 100%;
  border: 5px solid #4c4c47;
  background-color: #ffe6cc;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1000 1000'%3E%3Cg fill='%23ffc9b0'%3E%3Cpolygon points='1000%2C-50 0%2C-50 500%2C450'/%3E%3Cpolygon points='550%2C500 1050%2C1000 1050%2C0'/%3E%3Cpolygon points='-50%2C0 -50%2C1000 450%2C500'/%3E%3Cpolygon points='0%2C1050 1000%2C1050 500%2C550'/%3E%3C/g%3E%3Cg fill='%23ffac94'%3E%3Cpolygon points='1000%2C-133.3 0%2C-133.3 500%2C366.7'/%3E%3Cpolygon points='633.3%2C500 1133.3%2C1000 1133.3%2C0'/%3E%3Cpolygon points='-133.3%2C0 -133.3%2C1000 366.7%2C500'/%3E%3Cpolygon points='0%2C1133.3 1000%2C1133.3 500%2C633.3'/%3E%3C/g%3E%3Cg fill='%23ff8e77'%3E%3Cpolygon points='1000%2C-216.7 0%2C-216.7 500%2C283.3'/%3E%3Cpolygon points='716.7%2C500 1216.7%2C1000 1216.7%2C0'/%3E%3Cpolygon points='-216.7%2C0 -216.7%2C1000 283.3%2C500'/%3E%3Cpolygon points='0%2C1216.7 1000%2C1216.7 500%2C716.7'/%3E%3C/g%3E%3Cg fill='%23ff715b'%3E%3Cpolygon points='1000%2C-300 0%2C-300 500%2C200'/%3E%3Cpolygon points='800%2C500 1300%2C1000 1300%2C0'/%3E%3Cpolygon points='-300%2C0 -300%2C1000 200%2C500'/%3E%3Cpolygon points='0%2C1300 1000%2C1300 500%2C800'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='%23f59b8d' points='0%2C707.1 0%2C292.9 292.9%2C0 707.1%2C0 1000%2C292.9 1000%2C707.1 707.1%2C1000 292.9%2C1000'/%3E%3Cg fill='%23f89181'%3E%3Cpolygon points='464.6%2C-242.5 -242.5%2C464.6 464.6%2C464.6'/%3E%3Cpolygon points='535.4%2C464.6 1242.5%2C464.6 535.4%2C-242.5'/%3E%3Cpolygon points='-242.5%2C535.4 464.6%2C1242.5 464.6%2C535.4'/%3E%3Cpolygon points='535.4%2C1242.5 1242.5%2C535.4 535.4%2C535.4'/%3E%3C/g%3E%3Cg fill='%23fa8674'%3E%3Cpolygon points='405.7%2C-301.4 -301.4%2C405.7 405.7%2C405.7'/%3E%3Cpolygon points='594.3%2C405.7 1301.4%2C405.7 594.3%2C-301.4'/%3E%3Cpolygon points='-301.4%2C594.3 405.7%2C1301.4 405.7%2C594.3'/%3E%3Cpolygon points='594.3%2C1301.4 1301.4%2C594.3 594.3%2C594.3'/%3E%3C/g%3E%3Cg fill='%23fd7c68'%3E%3Cpolygon points='346.8%2C-360.3 -360.3%2C346.8 346.8%2C346.8'/%3E%3Cpolygon points='653.2%2C346.8 1360.3%2C346.8 653.2%2C-360.3'/%3E%3Cpolygon points='-360.3%2C653.2 346.8%2C1360.3 346.8%2C653.2'/%3E%3Cpolygon points='653.2%2C1360.3 1360.3%2C653.2 653.2%2C653.2'/%3E%3C/g%3E%3Cg fill='%23ff715b'%3E%3Cpolygon points='287.9%2C-419.2 -419.2%2C287.9 287.9%2C287.9'/%3E%3Cpolygon points='712.1%2C287.9 1419.2%2C287.9 712.1%2C-419.2'/%3E%3Cpolygon points='-419.2%2C712.1 287.9%2C1419.2 287.9%2C712.1'/%3E%3Cpolygon points='712.1%2C1419.2 1419.2%2C712.1 712.1%2C712.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }
  header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    header .wrapper .header-img {
      max-width: 50%; }
    header .wrapper img {
      height: 500px;
      top: 7%;
      display: block; }
    header .wrapper .header-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: right;
      max-width: 50%; }
  header a {
    font-size: 3rem; }
  header .start-link {
    color: #ff715b;
    padding: 25px 25px;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    margin: 0 auto;
    border: none; }
  header .start-link span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%; }
  header .start-link:before, header .start-link:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 2px;
    background: #000; }
  header .start-link:before {
    right: 0;
    top: 0;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease; }
  header .start-link:after {
    left: 0;
    bottom: 0;
    -webkit-transition: all 0.1s 0.2s ease;
    -o-transition: all 0.1s 0.2s ease;
    transition: all 0.1s 0.2s ease; }
  header .start-link:hover:before {
    -webkit-transition: all 0.1s 0.2s ease;
    -o-transition: all 0.1s 0.2s ease;
    transition: all 0.1s 0.2s ease;
    height: 100%; }
  header .start-link:hover:after {
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    height: 100%; }
  header .start-link span:before, header .start-link span:after {
    position: absolute;
    content: "";
    background: #000; }
  header .start-link span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: 2px;
    -webkit-transition: all 0.1s 0.1s ease;
    -o-transition: all 0.1s 0.1s ease;
    transition: all 0.1s 0.1s ease; }
  header .start-link span:after {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; }
  header .start-link span:hover:before {
    width: 100%; }

.hidden {
  display: none; }

.next-container input, .questions-submit input {
  background-color: white;
  padding: 1rem 2.5rem;
  border-radius: 12px;
  margin-left: 1rem; }
  .next-container input:active, .next-container input:hover, .next-container input:focus, .questions-submit input:active, .questions-submit input:hover, .questions-submit input:focus {
    border: #4c4c47 solid 2px; }

.questions-theme, .questions-tone, .questions-length {
  height: 100vh;
  border: 5px solid #4c4c47; }

form {
  width: 100%;
  height: 100%;
  background-color: #f59b8d; }
  form h2 {
    text-transform: uppercase;
    text-align: center; }

.theme-container, .tone-container {
  margin: 1rem .5rem;
  max-width: calc(100% - 1rem); }

.theme-container input[type="radio"], .tone-container input[type="radio"], .length-container input[type="radio"] {
  display: none; }

.questions-theme, .questions-tone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }

.questions-theme {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.questions-tone {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.theme-right, .tone-left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start; }

.theme-title, .tone-title {
  background-color: white;
  width: 50%;
  text-align: center; }

.theme-container {
  padding: 1rem; }

.questions-length {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.length-questions-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 700px;
  padding: 20px; }

.length-container, .theme-container, .tone-container {
  display: inline-block; }
  .length-container label, .theme-container label, .tone-container label {
    background-color: white;
    padding: 1rem 2.5rem;
    border-radius: 12px;
    cursor: pointer; }
    .length-container label:active, .length-container label:hover, .length-container label:focus, .theme-container label:active, .theme-container label:hover, .theme-container label:focus, .tone-container label:active, .tone-container label:hover, .tone-container label:focus {
      border: #4c4c47 solid 2px; }

.theme-container input[type="radio"]:checked + label, .tone-container input[type="radio"]:checked + label, .length-container input[type="radio"]:checked + label {
  border: 2px solid #4c4c47; }

.box-img {
  height: 100%;
  max-width: calc(100% - 60rem);
  margin: 2rem 30rem;
  background-color: #f59b8d;
  border-radius: 12px;
  display: block; }
  .box-img img {
    width: calc(100% - 5rem);
    height: 100%;
    padding: 0;
    margin: 2.5rem;
    border-radius: 12px; }

footer {
  text-align: center;
  background-color: white; }
  footer .css-typing {
    width: 30rem;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end); }

@-webkit-keyframes type {
  from {
    width: 0; } }

@keyframes type {
  from {
    width: 0; } }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Open Sans Condensed", sans-serif;
  color: #4c4c47; }

a {
  text-decoration: none;
  display: inline-block;
  text-align: center; }

.wrapper {
  max-width: 1080px;
  margin: 0 auto; }
